.popup {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 195px;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

@media (max-width: 650px) {
	.popup {
		top: 123px;
 	}
}