.profile__edd-button {
  background: transparent url("../../../images/profile__edd-button-1280.svg");
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  outline: none;
  background-position: center;
}

.profile__edd-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 560px) {
  .profile__edd-button {
    margin-top: 32px;
    background: transparent url("../../../images/profile__edd-button-320.svg");
    background-position: center;
    width: 282px;
    }
  }