.header__logo {
  width: 142px;
  height: 33px;
  margin: 0 0 35px 0;
}

@media screen and (max-width: 914px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: 122px;
    height: 28px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 114px;
    height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 27px 27px;
  }
}