.elements {
  display: grid;
  gap:20px 17px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 880px;
  margin: 0 auto 66px;
  padding: 0;
}

@media screen and (max-width: 905px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 650px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .elements {
    margin: 0 auto 46px;
  }
}