.element__place-button {
    background: url(../../../images/Vector-svg.svg);
    width: 22px;
    height: 19px;
    align-self: center;
    border: none;
    outline: none;
    object-fit: cover;
    margin-right: 20px;
}

.element__place-button:hover {
	opacity: 0.5;
    cursor: pointer;
}