.element__place_like-button {
  background: url(../../../images/element__place-button.svg);
  width: 22px;
  height: 19px;
  align-self: center;
  border: none;
  outline: none;
  object-fit: cover;
  margin-right: 20px;
}

.element__place_like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}