.profile__avatar-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0 30px 0 0;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .profile__avatar-image {
    margin: 0 0 26px 1px;
  }
}