.popup__close-button {
  background: url(../../../images/close-Icon-pupap-1280.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border:none;
  outline: none;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 560px) {
  .popup__close-button {
  background: url(../../../images/close-Icon-pupap-320.svg);
  width: 20px;
  height: 20px;
  right: 0;
  }
}